<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.modules.invest.plan.fund.plan.mapper.InvestFundPlanItemMapper">
  <resultMap id="BaseResultMap" type="com.ruoyi.modules.invest.plan.fund.plan.domain.InvestFundPlanItem">
    <id column="item_id" property="itemId"/><result column="plan_id" property="planId"/><result column="source_id" property="sourceId"/><result column="source_code" property="sourceCode"/><result column="source_name" property="sourceName"/><result column="source_type" property="sourceType"/><result column="planned_amount" property="plannedAmount"/><result column="arrived_amount" property="arrivedAmount"/><result column="paid_amount" property="paidAmount"/><result column="expect_arrival_date" property="expectArrivalDate"/><result column="order_num" property="orderNum"/><result column="create_by" property="createBy"/><result column="create_time" property="createTime"/><result column="update_by" property="updateBy"/><result column="update_time" property="updateTime"/><result column="remark" property="remark"/>
  </resultMap>
  <sql id="Base_Column_List">item_id,plan_id,source_id,source_code,source_name,source_type,planned_amount,arrived_amount,paid_amount,expect_arrival_date,order_num,create_by,create_time,update_by,update_time,remark</sql>
  <select id="selectInvestFundPlanItemById" resultMap="BaseResultMap">SELECT <include refid="Base_Column_List"/> FROM invest_fund_plan_item WHERE item_id=#{itemId}</select>
  <select id="selectItemsByPlanId" resultMap="BaseResultMap">SELECT <include refid="Base_Column_List"/> FROM invest_fund_plan_item WHERE plan_id=#{planId} ORDER BY order_num ASC,item_id ASC</select>
  <insert id="insertInvestFundPlanItem" useGeneratedKeys="true" keyProperty="itemId">INSERT INTO invest_fund_plan_item(plan_id,source_id,source_code,source_name,source_type,planned_amount,arrived_amount,paid_amount,expect_arrival_date,order_num,create_by,create_time,remark) VALUES(#{planId},#{sourceId},#{sourceCode},#{sourceName},#{sourceType},#{plannedAmount},#{arrivedAmount},#{paidAmount},#{expectArrivalDate},#{orderNum},#{createBy},#{createTime},#{remark})</insert>
  <update id="updateInvestFundPlanItem">UPDATE invest_fund_plan_item <set><if test="plannedAmount!=null">planned_amount=#{plannedAmount},</if><if test="arrivedAmount!=null">arrived_amount=#{arrivedAmount},</if><if test="paidAmount!=null">paid_amount=#{paidAmount},</if><if test="expectArrivalDate!=null">expect_arrival_date=#{expectArrivalDate},</if><if test="updateBy!=null">update_by=#{updateBy},</if><if test="updateTime!=null">update_time=#{updateTime},</if><if test="remark!=null">remark=#{remark},</if></set> WHERE item_id=#{itemId}</update>
  <delete id="deleteByPlanId">DELETE FROM invest_fund_plan_item WHERE plan_id=#{planId}</delete>
  <update id="addArrivedAmount">UPDATE invest_fund_plan_item SET arrived_amount=IFNULL(arrived_amount,0)+#{arrivedAmount}, update_by=#{updateBy}, update_time=#{updateTime} WHERE item_id=#{itemId}</update>
  <update id="addPaidAmount">UPDATE invest_fund_plan_item SET paid_amount=IFNULL(paid_amount,0)+#{paidAmount}, update_by=#{updateBy}, update_time=#{updateTime} WHERE item_id=#{itemId}</update>
</mapper>