<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.modules.invest.execution.report.mapper.InvestProgressReviewLogMapper">
 <insert id="insert" useGeneratedKeys="true" keyProperty="logId">INSERT INTO invest_progress_review_log(report_id,action,operator_id,operator_name,opinion,create_time) VALUES(#{reportId},#{action},#{operatorId},#{operatorName},#{opinion},#{createTime})</insert>
</mapper>