<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.modules.invest.plan.fund.arrival.mapper.InvestFundArrivalMapper">
  <resultMap id="BaseResultMap" type="com.ruoyi.modules.invest.plan.fund.arrival.domain.InvestFundArrival">
    <id column="arrival_id" property="arrivalId"/><result column="plan_id" property="planId"/><result column="item_id" property="itemId"/><result column="source_id" property="sourceId"/><result column="arrived_amount" property="arrivedAmount"/><result column="arrived_date" property="arrivedDate"/><result column="payer_name" property="payerName"/><result column="voucher_no" property="voucherNo"/><result column="attachment" property="attachment"/><result column="arrival_status" property="arrivalStatus"/><result column="create_by" property="createBy"/><result column="create_time" property="createTime"/><result column="update_by" property="updateBy"/><result column="update_time" property="updateTime"/><result column="remark" property="remark"/>
  </resultMap>
  <sql id="Base_Column_List">arrival_id,plan_id,item_id,source_id,arrived_amount,arrived_date,payer_name,voucher_no,attachment,arrival_status,create_by,create_time,update_by,update_time,remark</sql>
  <select id="selectInvestFundArrivalById" resultMap="BaseResultMap">SELECT <include refid="Base_Column_List"/> FROM invest_fund_arrival WHERE arrival_id=#{arrivalId}</select>
  <select id="selectInvestFundArrivalList" resultMap="BaseResultMap">SELECT <include refid="Base_Column_List"/> FROM invest_fund_arrival WHERE 1=1<if test="planId!=null"> AND plan_id=#{planId}</if><if test="itemId!=null"> AND item_id=#{itemId}</if><if test="arrivalStatus!=null and arrivalStatus!=''"> AND arrival_status=#{arrivalStatus}</if> ORDER BY create_time DESC,arrival_id DESC</select>
  <insert id="insertInvestFundArrival" useGeneratedKeys="true" keyProperty="arrivalId">INSERT INTO invest_fund_arrival(plan_id,item_id,source_id,arrived_amount,arrived_date,payer_name,voucher_no,attachment,arrival_status,create_by,create_time,remark) VALUES(#{planId},#{itemId},#{sourceId},#{arrivedAmount},#{arrivedDate},#{payerName},#{voucherNo},#{attachment},#{arrivalStatus},#{createBy},#{createTime},#{remark})</insert>
  <update id="updateInvestFundArrival">UPDATE invest_fund_arrival <set><if test="arrivedAmount!=null">arrived_amount=#{arrivedAmount},</if><if test="arrivedDate!=null">arrived_date=#{arrivedDate},</if><if test="payerName!=null">payer_name=#{payerName},</if><if test="voucherNo!=null">voucher_no=#{voucherNo},</if><if test="attachment!=null">attachment=#{attachment},</if><if test="arrivalStatus!=null">arrival_status=#{arrivalStatus},</if><if test="updateBy!=null">update_by=#{updateBy},</if><if test="updateTime!=null">update_time=#{updateTime},</if><if test="remark!=null">remark=#{remark},</if></set> WHERE arrival_id=#{arrivalId}</update>
  <update id="voidArrival">UPDATE invest_fund_arrival SET arrival_status='1' WHERE arrival_id=#{arrivalId}</update>
</mapper>