<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.modules.invest.plan.budget.mapper.InvestBudgetCheckLogMapper">

    <resultMap id="BaseResultMap" type="com.ruoyi.modules.invest.plan.budget.domain.InvestBudgetCheckLog">
        <id column="log_id" property="logId"/>
        <result column="budget_id" property="budgetId"/>
        <result column="scheme_id" property="schemeId"/>
        <result column="total_budget" property="totalBudget"/>
        <result column="allocated_sum" property="allocatedSum"/>
        <result column="proposed_sum" property="proposedSum"/>
        <result column="check_result" property="checkResult"/>
        <result column="check_type" property="checkType"/>
        <result column="error_json" property="errorJson"/>
        <result column="create_by" property="createBy"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        log_id, budget_id, scheme_id, total_budget, allocated_sum, proposed_sum,
        check_result, check_type, error_json, create_by, create_time
    </sql>

    <select id="selectInvestBudgetCheckLogById" parameterType="Long" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM invest_budget_check_log
        WHERE log_id = #{logId}
    </select>

    <select id="selectInvestBudgetCheckLogList" parameterType="InvestBudgetCheckLog" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM invest_budget_check_log
        WHERE 1 = 1
        <if test="budgetId != null">AND budget_id = #{budgetId}</if>
        <if test="schemeId != null">AND scheme_id = #{schemeId}</if>
        <if test="checkResult != null and checkResult != ''">AND check_result = #{checkResult}</if>
        <if test="checkType != null and checkType != ''">AND check_type = #{checkType}</if>
        ORDER BY create_time DESC, log_id DESC
    </select>

    <select id="selectLogsByBudgetId" parameterType="Long" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List"/>
        FROM invest_budget_check_log
        WHERE budget_id = #{budgetId}
        ORDER BY create_time DESC, log_id DESC
    </select>

    <insert id="insertInvestBudgetCheckLog" parameterType="InvestBudgetCheckLog" useGeneratedKeys="true" keyProperty="logId">
        INSERT INTO invest_budget_check_log (
            budget_id, scheme_id, total_budget, allocated_sum, proposed_sum,
            check_result, check_type, error_json, create_by, create_time
        ) VALUES (
            #{budgetId}, #{schemeId}, #{totalBudget}, #{allocatedSum}, #{proposedSum},
            #{checkResult}, #{checkType}, #{errorJson}, #{createBy}, #{createTime}
        )
    </insert>
</mapper>
